<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong><br /> {{ question }} <br />
  <strong>Resposta: </strong><br /> {{ answer }}   <br />
  <br />
  <small>
    Espero que tenha te ajudado.
  </small>
</p>
